[Unit]
Description=Converts MQTT to 433MHz, used for radio sockets
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/python3.7 /home/pi/MQTT_Switcher/MQTT_Switcher.py

[Install]
WantedBy=multi-user.target


